html {
    margin-top: 15px;
}

#map {
    height: 75%;
    width: 70%;
    border: 2px solid #ff0000;
    margin: auto;
}

h1 {
    font-family: Roboto;
    font-size: 48px;
    text-align: center;
}